# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/
*.swp
*.swo

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build / Distribution
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Output Files
# ==========================
outputs/*
!outputs/.gitkeep

# ==========================
# Large Dataset Files
# ==========================
data/candidates.jsonl

# Optional if JD is private
# data/job_description.txt

# ==========================
# Python Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp

# ==========================
# Environment Variables
# ==========================
.env
.env.local